
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Wampass</title>
        <link rel="icon" href="assets/Favicon-Wampass.ico">
        <style>
                      
          body{

            background-color: #252525;
            color: #fff;
          }
          #contenedor{
            margin-top: 100px;
          }
          img{
            display:block;
            margin:auto;
          }

        </style>
	</head>
	<body>
      <div id= "contenedor">
        <img src="assets/WampassUI.png">
      </div>
	</body>
</html>


